#footer {
  position: relative;
  padding: 10px;
  height: 40px;
  letter-spacing: 0.7px;
  text-align: center;
  background-color: #9E9E9E;

  a {
  	font-weight: bold;
  	text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}