<div *ngIf="!feedEntry" class="loading-section">
Loading...
</div>
<div *ngIf="feedEntry">
  
<div class="card">
  <img class="card-img-top" src="{{ feedEntry[0].cover_img || 'https://s3.amazonaws.com/turelo_production/images/newspaper.png'}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{feedEntry[0].title}}</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a [routerLink]="['/feeds/feed_entries/', feed[0].GUID]" class="btn btn-primary">
            Go to entry
    </a>
  </div>
</div>

</div>
