<div *ngIf="!feed" class="loading-section">
Loading.
</div>

<div *ngIf="feed">

<md-card flex>
    <img md-card-image src="{{ feed[0].cover_img || 'https://s3.amazonaws.com/turelo_production/images/newspaper.png'}}">
    <a [routerLink]="['/feeds/feed_entries/', feed[0].GUID]">
    <md-card-title>{{feed[0].title}}</md-card-title>
    </a>
    <md-card-content>
      <p>Here is some content</p>
     </md-card-content>
     <md-card-actions align="end">
       <button md-raised-button>LIKE</button>
       <button md-button>SHARE</button>
     </md-card-actions>
</md-card>

</div>

